@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 140vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;

}

#main {
    background-color: #C4BCB3;
    overflow-x: hidden;
}
 

/*Navbar Starts*/

#navbar {
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0 30px; 
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}

#navbar img{
    height: 50px;
    width: 30%;

}

#navbar h5{
    font-size: 18px;
    font-weight: 100;
    width:30%;
}

#navbar i{
    font-size: 20px;
    width: 30%;
    text-align: right;
}

/*navbar ends*/

#ele{
    
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#ele1{
    width: 30%;
    height: 100%;
    
}

#ele2{
    width: 25%;
    height: 100%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 20px 60px;
    text-align: center;
    
}

#ele3{
width: 30%;
    height: 100%;
    
}


#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.4s;
} 

#ele1 #image-div {
    height: 70%;
    overflow: hidden;
    width:100%;
}

#ele3 #image-div {
    height: 70%;
    overflow: hidden;
    width:100%;
}

#image-div:hover img{
    scale: 1.4;
}

#ele1 h4 span{
    background-color: brown;
    color: white;
    font-weight: 100;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
}

#ele1 h4{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: canopee;
}

#ele1 p{
    font-size: 23px;
    font-family: domain;
    font-weight: 100;
    color: rgb(120, 114, 114);
}

#ele3 h4 span{
    background-color: brown;
    color: white;
    font-weight: 100;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
}

#ele3 h4{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: canopee;
}

#ele3 p{
    font-size: 23px;
    font-family: domain;
    font-weight: 100;
    color: rgb(120, 114, 114);
}

#ele2 h2{
    font-family: canopee;
    font-size: 70px;
    font-weight: 100;

}

#ele2 h3{
    font-family: domain;
    font-size: 40px;
    font-weight: 100;
    color: rgb(120, 114, 114);
    margin-top: 20px;
    margin-bottom:20px;

}

#ele2 h6{
    font-family: domain;
    font-size: 20px;
    font-weight: 100;
    color: rgb(120, 114, 114);

}

#page1 h1{
    font-size: 400px;
    letter-spacing: 10px;
    font-family: canopee;
    font-weight: 100;
    background-color: #1C1C19;
    color: #C4BCB3;
    line-height: 600px;
    width: 94%;
    margin-left: 2%;
    padding-left: 20%;
    height: 550px;
}

#page2 {
    height: 150vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-left{
height: 100%;
padding-right: 40px;
width:35%;
border-right: 1px solid black;

}

#page2-left h2{
    font-size:150px;
    font-family: canopee;
    text-align: center;
    line-height: 150px;
    font-weight: 100;
    padding: 90px 40px;
}

#page2-left h2 span{
    font-size: 180px;
    font-weight: 900;
}

#page2-left img {
    height: 40%;
    width: 100%;
    object-fit: cover;
    padding-left: 30px;
    
}

#page2-left p {
    font-size: 30px;
    font-family: domain;
    margin-top: 30px;
    color: #1C1C19;
    padding-left: 30px;
}

#page2-right{
height: 100%;
width: 60%;
padding: 0 60px;

}

#page2-right img {
    padding-top: 40px;
    height: 55%;
    width: 100%;
    object-fit: cover;
    padding-left: 30px;
    
}

#page2-right h1{
    margin-top: 10px;
    font-family: canopee;
    font-size: 110px;
    font-weight: 120px;
    letter-spacing: -2%;
    color:#1C1C19;
}